<div id="map"></div>
<%= @trip.checkins[0][:lat] %>
<%= @trip.checkins[0][:lng] %>
<%= hidden_field_tag 'lat', @trip.checkins[0][:lat] %>
<%= hidden_field_tag 'lng', @trip.checkins[0][:lng] %>
<h1 id='time-logger'></h1>

