<header class="bg-warning">
  <nav class="navbar navbar-expand-sm navbar-light sticky-top tripbar">
    <a class="navbar-brand" href="/">Pointer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mobile-menu">

      <div class="share-url"></div>
    </div>
  </nav>
</header>
